@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.box {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.mountain {
    height: 100%;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mountain > h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    background:rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 26px;
    font-weight: lighter;
    padding: 5px 5px;
    letter-spacing: 0.1;

  
}

 .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: stretch;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 22px 0px;
    width: 100%;
    text-align: center;
}

.item {
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 60px;
    transition-duration: 1s;
}

.item:hover {
    text-shadow: white 1px 1px 1px;
}

.item_active {
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 60px;
    transition-duration: 1s;
}

.item_active > a {
  color: #8AC7E9;
}

ul  {
    list-style-type: none;
}
 a {
    text-decoration: none;
    color: #ffffff;
 }
h1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

}